@keyframes typingWord {
  0% {
    width: 0;
  }
}

@keyframes lineBlink {
  50% {
    border-right-color: inherit;
  }
}

/* @keyframes svgBrightness {
  50% {
    filter: brightness(100%);
  }
} */

.animated-section {
  transition: 0.8s opacity ease;
  opacity: 0.5;
}

.animated-section.section-visible {
  opacity: 1;
}
