@keyframes typingWord {
  0% {
    width: 0;
  }
}

@keyframes lineBlink {
  50% {
    border-right-color: inherit;
  }
}

/* @keyframes svgBrightness {
  50% {
    filter: brightness(100%);
  }
} */

.animated-section {
  --translate-x: 20px;

  transition: 0.8s transform ease-out, 0.8s opacity ease;
  opacity: 0.5;
  transform: translateX(var(--translate-x));
}

.animated-section.section-visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 1200px) {
  .animated-section {
    --translate-x: 50px;
  }
}
