@keyframes typingWord {
  0% {
    width: 0;
  }
}

@keyframes lineBlink {
  50% {
    border-right-color: inherit;
  }
}

/* @keyframes svgBrightness {
  50% {
    filter: brightness(100%);
  }
} */
