* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
}

:root {
  /* --main-color: #2a0944;
  --secondary-color: #3fa796;
  --terciary-color: #fec260;
  --complement-color: #a10035; */

  --main-color: #311d3f;
  --secondary-color: #522546;
  --terciary-color: #88304e;
  --complement-color: #e23e57;

  --dark-color: #232323;

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-color);

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img,
svg {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

svg {
  fill: #fff;
  opacity: 1;
  width: 40px;
}

svg.animated:not(:hover) {
  /* animation: svgBrightness 5s 0.3s ease-in-out infinite reverse; */
  transition: filter 0.4s;
  filter: brightness(0%);
}

svg.animated:hover {
  filter: brightness(100%);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: normal;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

section {
  width: 100%;
  max-width: 1400px;
  margin: 5rem auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

section#hero {
  margin-top: 0;
}

p {
  line-height: 1.8;
  font-size: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }

  section {
    margin: 0 auto;
  }
}
